@model Admin.Models.ViewModels.AuthorityVM

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <h5>Följande aktör kommer att raderas:</h5>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Ta bort" class="btn btn-danger" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
            </div>
        }
    </div>
</div>
